@page
@using Genora.MultiTenancy.Enums
@using Genora.MultiTenancy.Localization
@using Genora.MultiTenancy.Web.Helpers
@using Genora.MultiTenancy.Web.Pages.AppNews
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<MultiTenancyResource> L

@{
    Layout = null;
    var publishedAtText = Model.News?.PublishedAt.HasValue == true
       ? Model.News.PublishedAt.Value.ToString("dd/MM/yyyy")
       : DateTime.Now.ToString("dd/MM/yyyy");
}

<form asp-page="/AppNews/CreateModal" method="post" id="CreateNewsForm">
    <abp-modal size="ExtraLarge">
        <abp-modal-header title="@L["NewAppNews"]"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="News.Title" placeholder="Tiêu đề tin tức" label="@L["Title"]" />
            <abp-input asp-for="News.ThumbnailUrl" placeholder="Ảnh hiển thị tin tức" label="@L["ThumbnailUrl"]" />

            <div class="mb-3">
                <label asp-for="News.ContentHtml" class="form-label">@L["Content"]</label>
                <textarea asp-for="News.ContentHtml"
                          class="form-control news-content-editor"
                          placeholder="Nội dung tin tức"
                          rows="8"></textarea>
            </div>

            <abp-input asp-for="News.PublishedAt"
                       label="@L["PublishDate"]"
                       type="text"
                       value="@publishedAtText"
                       autocomplete="off"
                       class="public-time-input" />

            <abp-select asp-for="News.Status"
                        label="@L["Status"]"
                        asp-items="EnumSelectList.GetLocalizedEnumSelectList<NewsStatus>(L)" />

            <abp-input asp-for="News.DisplayOrder" label="@L["DisplayOrder"]" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>