@page
@using Genora.MultiTenancy.Localization
@using Genora.MultiTenancy.Web.Pages.AppCustomerTypes
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<MultiTenancyResource> L

@{
    Layout = null;
}
<form abp-model="CustomerType" asp-page="/AppCustomerTypes/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["EditAppCustomerType"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            @* <abp-form-content /> *@
            <abp-input asp-for="CustomerType.Code" placeholder="Nhập mã code loại khách hàng" label="@L["CustomerTypeCode"]" />
            <abp-input asp-for="CustomerType.Name" placeholder="Nhập tên loại khách hàng" label="@L["CustomerTypeName"]" />
            <div class="mb-3">
                <label asp-for="CustomerType.Description" class="form-label">@L["Description"]</label>
                <textarea asp-for="CustomerType.Description" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3" style="display: inline-flex; width: 100%">
                <label asp-for="CustomerType.ColorCode" class="form-label" style="width: 18%">@L["ColorCode"]</label>
                <input asp-for="CustomerType.ColorCode" type="text" id="color-code" class="form-control" />
                <input id="color-picker" type="color" class="form-control color-input" />
            </div>
            <abp-input asp-for="CustomerType.IsActive" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<style type="text/css">
    .color-input {
        width: 45px;
        height: 47px;
        padding: 8px;
        margin-left: 0;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    #color-code {
        border-radius: 0.5rem 0 0 0.5rem;
        margin-left: 20px;
        width: 68%;
        padding-right: 0
    }
</style>
<script>
    $(document).ready(function () {
        // Khi người dùng chọn màu từ bộ chọn màu
        $('#color-picker').on('input', function () {
            var selectedColor = $(this).val();
            $('#color-code').val(selectedColor);
        });
        // Khi người dùng nhập mã màu thủ công
        $('#color-code').on('input', function () {
            var inputColor = $(this).val();
            $('#color-picker').val(inputColor);
        });
        function initializeColorPicker() {
            var currentColor = $('#color-code').val();
            if (currentColor) {
                $('#color-picker').val(currentColor);
            }
        }
        initializeColorPicker();
    });
</script>