@page
@using Genora.MultiTenancy.Localization
@using Genora.MultiTenancy.Web.Pages.AppPromotionTypes
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<MultiTenancyResource> L
@{
    Layout = null;
}
<form abp-model="PromotionType" asp-page="/AppPromotionTypes/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["CreatePromotionType"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-row>
                <abp-column size-md="_8">
                    <abp-input asp-for="PromotionType.Code" placeholder="Nhập mã code loại khách hàng" label="@L["PromotionTypeCode"]" />
                </abp-column>
                <abp-column size-md="_4" style="display: flex; align-content: center; flex-wrap: wrap">
                    <abp-input asp-for="PromotionType.Status" />
                </abp-column>
            </abp-row>
            
            <abp-input asp-for="PromotionType.Name" placeholder="Nhập tên loại khách hàng" label="@L["PromotionTypeName"]" />
            <div class="mb-3">
                <label asp-for="PromotionType.Description" class="form-label">@L["Description"]</label>
                <textarea asp-for="PromotionType.Description" class="form-control" rows="2" placeholder="Mô tả loại khách hàng"></textarea>
            </div>
            
            <div class="mb-3" style="display: inline-flex; width: 100%">
                <label asp-for="PromotionType.ColorCode" class="form-label" style="width: 18%">@L["ColorCode"]</label>
                <input asp-for="PromotionType.ColorCode" type="text" id="color-code" class="form-control" />
                <input id="color-picker" type="color" class="form-control color-input" />
            </div>
            <abp-row>
                <abp-column size-md="_2">
                    @* <abp-input asp-for="PromotionType.IsUploadImage" style="height: 30px" class="form-control" id="isUpload" label="@L["IsUpload"]" /> *@
                    <label for="isUpload" class="form-label">@L["IsUpload"]</label>
                    <input type="checkbox" name="name" id="isUpload" value="" />
                </abp-column>
                <abp-column size-md="_6">
                    <div class="url-group" id="input-url">
                        <label asp-for="PromotionType.IconUrl" class="form-label">@L["PromotionTypeIconUrl"]</label>
                        <input asp-for="PromotionType.IconUrl" class="form-control" placeholder="Dán đường dẫn ảnh icon" />
                    </div>
                    <div class="group-image" id="input-image" style="display: none;">
                        <div class="image-upload-group">
                            @* <label for="images">Upload ảnh:</label> *@
                            <div class="drop-zone" id="dropZone">
                                <p>Kéo thả ảnh hoặc click để chọn</p>
                                <input asp-for="PromotionType.Images" type="file" id="images" style="display:none" />
                            </div>
                        </div>
                    </div>
                </abp-column>
                <abp-column size-md="_4">
                    <div class="preview-grid" id="previewGrid">
                        <div class="preview-item">
                            <img src="images\getting-started\no-photo-square.png" id="image-preview" alt="Alternate Text" />
                        </div>
                    </div>
                    </abp-column>
            </abp-row>
            @* <abp-row>
                <div class="preview-grid" id="previewGrid">
                    <div class="preview-item">
                        <img src="images\getting-started\no-photo-square.png" id="image-preview" alt="Alternate Text" />
                    </div>
                </div>
            </abp-row> *@
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<style type="text/css">
    .color-input {
        width: 45px;
        height: 47px;
        padding: 8px;
        margin-left: 0;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    #color-code {
        border-radius: 0.5rem 0 0 0.5rem;
        margin-left: 20px;
        width: 68%;
        padding-right: 0
    }

    .image-upload-group {
        margin: 0 0 10px 0;
    }

    .drop-zone {
        border: 3px dashed #ccc;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: border-color 0.3s;
        background-color: #f9f9f9;
    }

        .drop-zone:hover {
            border-color: #999;
        }

        .drop-zone.drag-over {
            border-color: #007bff;
            background-color: #e9f7ff;
        }

    .preview-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
        /* margin-top: 20px; */
        /* margin-right: 20px; */
    }

    .preview-item {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

        .preview-item img {
            width: 100%;
            /* height: 150px; */
            /* object-fit: cover; */
        }

</style>
<script>
    $(document).ready(function () {
        // Khi người dùng chọn màu từ bộ chọn màu
        $('#color-picker').on('input', function () {
            var selectedColor = $(this).val();
            $('#color-code').val(selectedColor);
        });
        // Khi người dùng nhập mã màu thủ công
        $('#color-code').on('input', function () {
            var inputColor = $(this).val();
            $('#color-picker').val(inputColor);
        });

        $('input[asp-for="PromotionType.IconUrl"]').on('input', function () {
            bindingPreviewImage();
        });
        $('#image-input').on('change', function () {
            bindingPreviewImage();
        });

        function bindingPreviewImage() {
            var imageUrl = $('#image-input').val();
            if (imageUrl) {
                $('#image-preview').attr('src', imageUrl);
            } else {
                $('#image-preview').attr('src', 'images\getting-started\no-photo-square.png');
            }
        }

    const fileInput = document.getElementById('images');
    const dropZone = document.getElementById('dropZone');
    const previewGrid = document.getElementById('previewGrid');
    const isUpload = document.getElementById('isUpload');
    const inputUrl = document.getElementById('input-url');
    const inputUpload = document.getElementById('input-image');
    let selectedFiles = [];

    isUpload.addEventListener('change', function(){
      if (this.checked) {
          inputUrl.style.display = 'none';
          inputUpload.style.display = 'block';
      } else {
          inputUrl.style.display = 'block';
          inputUpload.style.display = 'none';
      }
    });
        // Click vào vùng drop để mở dialog chọn file
    dropZone.addEventListener('click', () => fileInput.click());

        // Hiệu ứng drag over
    dropZone.addEventListener('dragover', (e) => {
            e.preventDefault();
            dropZone.classList.add('drag-over');
    });

    dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('drag-over');
    });

        // Xử lý khi thả file
    dropZone.addEventListener('drop', (e) => {
            e.preventDefault();
            dropZone.classList.remove('drag-over');
            handleFiles(e.dataTransfer.files);
    });

        // Xử lý khi chọn file qua input
    fileInput.addEventListener('change', () => {
            if (fileInput.files.length > 0) {
                handleFiles(fileInput.files);
            }
    });

    function handleFiles(file) {
            debugger
                if (file.length > 0) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        createPreview(e.target.result, file[0].name);
                    };
                    reader.readAsDataURL(file[0]);
                }
    }

    function createPreview(src, name) {
        $('#image-preview').attr('src', src);
        $('#image-preview').attr('alt', name);
    }
    });
</script>

